@mixin cardDefault {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
    background-color: hsla(208, 82%, 92%, 1);
    height: 350px;
    width: 200px;
    flex-shrink: 0;
    @include cardFooter();
}

@mixin cardFooter{
    footer{
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        background-color: hsla(208, 82%, 90%, 1);

    }
}

#cityWrapper{
    display: flex;
    overflow: auto;
    &[card-display="wrap"]{
        flex-wrap: wrap;
        button#gridview{
            background-color: hsla(208, 82%, 70%, 1);
        }
    }
    &[card-display="scroll"]{
        max-width: 910px;
        overflow: auto;
        button#scrollview{
            background-color: hsla(208, 82%, 70%, 1);
        }
    }
  
    input:checked{
        background-color: aqua;
        padding: 10px;
    }

    .container-buttoncity{
       @include cardDefault();
        h3{
            font-weight: 600;
            color: hsl(0, 0%, 5%);
        }
        header{
            flex: 1;
        }
        button{
            background: none;
            border: none;

            cursor: pointer;
            img{
                max-height: 50px;   
            }
            &:hover{
                background-color: hsla(208, 82%, 80%, 1);
            }


        }
        
    }

    .container-cityitem{
        @include cardDefault();

        figure{
            flex: 1;
        }

        h3,figcaption{
            font-weight: 600;
            color: hsl(0, 0%, 5%);
        }



        .container-minmax{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    }

/*
    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 28px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
      
        transform: translateX(20px);
      }
      

      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }*/
    
}


