.board .row {
  display: flex; }
  .board .row .square {
    width: 25px;
    height: 25px;
    border: solid 1px black;
    background-color: antiquewhite; }
    .board .row .square img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: scale-down; }
