@import "_dropdownstyle";

%perfect-center
{
    justify-content: center;
    align-items: center;
}

%flex-column
{
    display: flex;
    flex-direction: column;
}


.grid-container
{   
    //auto is full size
    display: grid;
    //learnt shorthand namespaces is a thing 
    //not sure how useful this is when intellisense is a thing //more orangized 
    grid: 
    {
        template:
        {
            columns: repeat(3,auto);
            rows: repeat(2,auto);
            areas: 
            'header header header'
            '. main .';
        }
        column-gap: 15px;
        row-gap: 10px;
    }
 
}


header
{
    grid-area: header;
    //background-color: blue;
}

body
{
    
    background-repeat: repeat;
    background-image: url(/tributepage/images/bluedots.jpg)
}


main
{
    grid-area: main;
    background-color: hsla(195, 80%, 63.5%, 0.9);

    margin: 10px;
    //text-align: center;
    @extend %flex-column;
    @extend %perfect-center;
}

@media (max-width: 800px)
{
    main
    {
        background-color: hsla(195, 80%, 53.5%, 0.9);
        //max-width: 800px;
    }
}

@media (max-width:600px)
{
    main
    {
        background-color: hsla(195, 80%, 43.5%, 0.9);
       // max-width: 600px;
    }

   

}



.bio-container
{
    @extend %perfect-center;
    @extend %flex-column;
    //Space out description points
    li
    {
        margin: 10px;
       
    }
 
}

.portrait-container
{
    @extend %perfect-center;
    @extend %flex-column;
    min-width: 0;
    min-height: 0;
    
    
    img
    {
        //its that simple, no need for flex-basis tricks(kiss)
        max-width: 500px;
        min-width: 400px;
        width: 100%;
     
       
        
    }
}

.bio-container
{
   max-width: 600px;
    
}


