.board{
    div{
        display: flex;
        span{
            display: block;
            flex-basis: 35px;
            height: 30px;
            padding: 10px;
            border: 1px solid black;
            text-align: center;
        }
    }

}