.sampleData{
   .posts{
    background-color: var(--background-color-main-container);
    margin-bottom: 10px;
    border-bottom: solid var(--background-color-main-acsent) 3px;
    padding-bottom: 10px;
 
   }
}