$modalpadding: 10px;
$darklight: 13%;

@mixin tertiary($light){
    border: none;
    background: none;
    color: hsla(0, 0%, $light,1);
}
 @mixin primary($light){
    background-color: hsla(161, 64%, $light, 1);
    color: hsla(255, 255, 255, 0.8);
}


.modal-container{
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: hsla(5, 0, 0, .5);
    justify-content: center;
    align-items: center;
    .modal{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 2px 0px;
        width: 350px;
        height: 250px;
        background-color: hsla(208, 82%, 92%, 1);
        overflow: auto;

        header{
            padding: $modalpadding; 
            text-align: center;
            .title{
                color: hsl(0, 0%, $darklight);
                font-weight: 600;
            }
            button{
                float: right;
                @include tertiary($darklight);
                opacity: 0.3;
                &:hover{
                    opacity: 0.9;
                    cursor: pointer;
                }
                img{
                    width: 20px;
                }
            }
        
        }

        .core{
            flex: 1;
            padding: $modalpadding;
       
        }
        footer{
            background-color: hsla(208, 82%, 90%, 1);
            padding: $modalpadding;
            .btnConfirm{
                @include primary(46%);
                &:hover{
                    @include primary(36%); 
                }
            }
            .btnCancel{
                @include tertiary($darklight);
                &:hover{
                    background-color: hsla(208, 82%, 80%, 1);;
                }
            }
            button{
                font-weight: 600;
                float: right;
                width: 100px;
                height: 35px;
                margin: 2px;
                border-radius: 10%;
                cursor: pointer;
          
            }
        }
    }
}