.cityWrapper{
    display: flex;
    .container-buttoncity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        background-color: rgba(32, 21, 32, 0.5);
    }
}