body{
    overflow: hidden;
}
.cityWrapper{
    display: flex;
    .container-buttoncity{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
        background-color: hsla(208, 82%, 92%, 1);
        height: 350px;
        width: 200px;

        h3{
            font-weight: 600;
            color: hsl(0, 0%, 5%);
        }
        header{
            flex: 1;
            button{
                background: none;
                border: none;
                cursor: pointer;
                img{
                    max-height: 50px;   
                }
                &:hover{
                    background-color: hsla(208, 82%, 80%, 1);;
                }
            }
        }
        footer{
            height: 50px;
            width: 100%;
            background-color: hsla(208, 82%, 90%, 1);
        }
    }

    .container-cityitem{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
        background-color: hsla(208, 82%, 92%, 1);
        height: 350px;
        width: 200px;

        figure{
            flex: 1;
        }

        h3,figcaption{
            font-weight: 600;
            color: hsl(0, 0%, 5%);
        }

        footer{
            height: 50px;
            width: 100%;
            background-color: hsla(208, 82%, 90%, 1);
  
        }

        .container-minmax{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
       
        }
    }
}

