.container-content{
    article{
        display: flex;
        border-bottom: 1px solid black;
        div{
            padding: 10px;
        }
    }
}

ul.pagination-bar{
    display: flex;
    list-style-type: none;
    li{
        padding: 5px;
        margin: 2px;
    }

}