
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

section .test{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  //tint
  background: hsla(0, 0%, 0%, 0.5);
  video{
    height: 100%;
    width: 100%;
    object-fit: fill;
   
    position: absolute ;
    top: 0;
    left: 0;  
    z-index: -10;

  }

  article{
    text-align: center;
    h1{
      font-size: clamp(1.5rem, 3vw, 2rem); 
      color: white;
    }
  }
}



