.display {
  margin: 10px; }
  .display div {
    padding: 25px;
    background-color: beige; }

button {
  font-size: 15px; }

.number {
  font-weight: bold; }

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .buttons .numbers {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
