.container-item{
  $contwidth : 180px;
  margin: 5px;
  img{
    display: block;
    width: $contwidth;
    height: $contwidth;
    background-color: black;
  }
  div.desc, h2{
    overflow-wrap: break-word;
    width: $contwidth;
    margin: 0px;
  }
}
