$contwidth : 180px;
.container-item{
  margin: 5px;
  img{
    display: block;
    width: $contwidth;
    height: $contwidth;
    background-color: black;
  }
  div.desc, h2{
    overflow-wrap: break-word;
    width: $contwidth;
    margin: 0px;
  }
}

.container-addItem{
  border: 1px solid;
  width: $contwidth;
  img{
    margin: 5px;
    width: 40px;
  }
}
#handleSubmit{
  background-color: gray;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: hsla(4, 20%, 10%, 0.4);
  justify-content: center;
  align-items: center;
  

  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: hsla(6, 45%, 88%,1);
    border: 1px solid black;
    input,label{
      display: block;
      margin: 5px;
      width: 100%;
    }
  }
}
